body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ecf0f1;
	margin: 15px;
}
.gray-back {
	background-color: #e74c3c;
	font-size: 32px;
}
.gray-back tr td a {
	color: white;
	text-decoration: none;
}

.gray-back tr td:hover {
	/*background: #ecf0f1;*/
}

.gray-back tr td a:hover{
	color: #c0392b;
}

h1, h2, h3, h4 {
	color: #e74c3c;
}

